---
import Layout from '../layouts/Layout.astro';
import { getFilteredProjects } from "../lib/utils/calculateCounts"


export async function getStaticPaths() {
  const projects = await getFilteredProjects()
  console.log(projects)
  const paths = projects.map(project => ({
    params: { id: project.id },
  }));
  console.log(paths);
  return paths;
}


const { id } = Astro.params;

---

<Layout >
  <div class="pt-96">
    <h1>Ahoj {id}</h1>
  </div>
</Layout>

<style>
</style>
