---
import Layout from '../layouts/Layout.astro';
import EventDetail from '../components/EventDetail.svelte';
import data from '../data.json';

export function getStaticPaths() {
  return data.events.map(e => ({params: {id: e.id}}))
}

const { id } = Astro.params;
const item = data.events.find(i => i.id === id);
---

<Layout >
  <div class="pt-96">
  <h1>Ahoj {id}</h1>
  </div>
</Layout>

<style>
</style>